$navbar-default-bg:#073B15;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float:left;
  font-size: 1.7em;
  color:#ffff;
  text-transform: uppercase;
  letter-spacing:-1px;
  font-weight:bold ;

}
#logo:hover{
  color:#ffff;
  text-decoration: none;
}
.center{
  text-align: center;
}